version: "3.8"

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: django
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_DB: mydb
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d   
    networks:
      - app-network

  web:
    build:
      context: .
    depends_on:
      - db
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: django
      POSTGRES_PASSWORD: secretpassword
      DB_HOST: db
      DB_PORT: "5432"
    volumes:
      - .:/app
    networks:
      - app-network
    ports:
      - "8000:8000"
volumes:
  db-data:
  static-data:
  
networks:
  app-network:
